version: '3.9'

services:
  redis:
    container_name: redis
    image: redis
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning

  backend:
    build: .
    container_name: backend
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn core.wsgi --bind 0.0.0.0:8000
      "
    volumes:
      - ./core:/app
      - static_volume:/app/static
      - media_volume:/app/media
    expose:
      - "8000"
    environment:
      - SECRET_KEY=test
      - DEBUG=False
      - POSTGRES_DB=core_db
      - POSTGRES_USER=core_user
      - POSTGRES_PASSWORD=core_pass
    depends_on:
      - redis
      - db

  worker:
    build: .
    command: celery -A core worker --loglevel=info
    depends_on:
      - redis
      - backend
      - db
    volumes:
      - ./core:/app

  nginx:
    image: nginx
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - redis
      - backend
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/home/app/static:ro
      - media_volume:/home/app/media:ro

  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: core_db
      POSTGRES_USER: core_user
      POSTGRES_PASSWORD: core_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    expose:
      - "5432"

volumes:
  static_volume:
  media_volume:
  postgres_data: