<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{object}}</h1>
    <h2>{{object.content}}</h2>
    <p>{{object.category}}</p>
    <p>Author: {{object.author.user}}</p>
    <p>{{object.status}}</p>
    <p>{{object.published_date}}</p>
    <p>{{object.created_date}}</p>
    {% if object.author.user == request.user %}
        <a href="{% url 'blog:blog-edit' pk=post.id %}">
            <h5>Edit</h5>
        </a>
        <a href="{% url 'blog:blog-delete' pk=post.id %}">
            <h5>Delete</h5>
        </a>
    {% endif %}
    <h3>Comments</h3>
    {% for comment in object.comments.all %}
    <div>
        <b>{{comment.author.profile.display_name}}</b>
        <small>{{comment.created_date}}</small>
        <p>{{comment.body}}</p>
        {% if request.user == comment.author or request.user.is_superuser %}
            <div>
            <a href="{% url 'comment:delete' comment.id %}">Delete</a>
            </div>
        {% endif %}
        <b>-------------------------------</b>
    </div>
    {% endfor %}
    <h3>Leave a comment</h3>
    <form action="{% url 'comment:create' post.id %}" method="post">
        {% csrf_token %}
        {{comment_form.as_p}}
        <button type="submit">Send</button>
    </form>
</body>
</html>