<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{object}}</h1>
    <h2>{{object.content}}</h2>
    <p>{{object.category}}</p>
    <p>Author: {{object.author}}</p>
    <p>{{object.status}}</p>
    <p>{{object.published_date}}</p>
    <p>{{object.created_date}}</p>
    <a href="{% url 'blog:blog-edit' pk=post.id %}">
        <h5>Edit</h5>
    </a>
    <a href="{% url 'blog:blog-delete' pk=post.id %}">
        <h5>Delete</h5>
    </a>
</body>
</html>