name: Django BlogNest Project Test and Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  Test:
    name: Test

    runs-on: ubuntu-latest

    env:
      POSTGRES_DB: core_db
      POSTGRES_USER: core_user
      POSTGRES_PASSWORD: core_pass

    steps:
    - uses: actions/checkout@v4
    - name: Setup Docker Compose
      run: docker compose -f docker-compose-stage.yml up -d --build
    - name: Run Tests
      run: docker compose exec backend sh -c "pytest ."

  Deploy:
    if: ${{ always() && contains(join(needs.*.result, ','), 'success') }}
    name: Deploy
    needs: Test

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Connect and excute commands
      uses: appleboy/ssh-action@master
      with:
        username: ${{secrets.USERNAME}}
        password: ${{secrets.PASSWORD}}
        host: ${{secrets.HOST}}
        port: ${{secrets.PORT}}
        script: |
          cd ${{secrets.PROJECT_PATH}}
          docker compose -f docker-compose-stage.yml stop
          git pull
          docker compose -f docker-compose-stage.yml restart
          docker compose exec backend python manage.py collectstatic --noinput
